<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页</title>
</head>
<body>
<ul>
    {% for area in areas %}
        <li>{{ area.atitle }}</li>
    {% endfor %}
</ul>
{% if areas.has_previous %}
    <a href="/area/{{ areas.previous_page_number }}/">上一页</a>
{% endif %}
{% for pindex in areas.paginator.page_range %}
    {% if pindex == areas.number %}
        {{ pindex }}
    {% else %}
        <a href="/area/{{ pindex }}/">{{ pindex }}</a>
    {% endif %}
{% endfor %}

{% if areas.has_next %}
    <a href="/area/{{ areas.next_page_number }}/">下一页</a>
{% endif %}

</body>
</html>